<div id=<%= dom_id(list) %> 
    data-controller="kanban-list"
    draggable=<%= board_configs.can_move_list?(list, current_user) %>
    droppable="true"
    data-viewtype="list"
    data-currpos="<%= position(list) %>"
    data-prevpos="<%= prev %>">

    <div class="list-header" droppable="false">
        <% if board_configs.fixed_lists? %>
            <p><%= list.name %></p>
        <% else %>
            
            <%= render partial: board_configs.header_list_partial, locals: { board_configs.list_model_symbol => list } %>

            <% if board_configs.can_modify_list?(list, current_user) %>
                <div class="popup-action relative">
                    <span class="font-bold" data-action="click->kanban-list#showOptions">...</span>
                    <div class="popup-action-options hidden" data-kanban-list-target="options">
                        <div class="popup-action-title">
                        <label><%= t('kanban7.label_list_actions') %></label>
                        <button data-action="click->kanban-list#hideOptions" class="font-bold text-lg">✗</button>
                        </div>
                        <%= link_to t('kanban7.action.edit'), Rails.application.routes.url_helpers.send("#{board_configs.kanban_name}_kanban_edit_#{board_configs.list_model_name}_path", board_configs.board_model_id_symbol => board.id, board_configs.list_model_id_symbol => list.id), 
                            data: { turbo_frame: "kanban-modal", action: "click->kanban-list#hideOptions" }, 
                            class: "action-option" %>
                        <%= link_to t('kanban7.action.delete'), Rails.application.routes.url_helpers.send("#{board_configs.kanban_name}_kanban_delete_#{board_configs.list_model_name}_path", board_configs.board_model_id_symbol => board.id, board_configs.list_model_id_symbol => list.id), 
                            data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', action: "click->kanban-list#hideOptions" },
                            class: "action-option" %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="list">
        <% cards = board_configs.fetch_cards.call(list, params) %>
        <%= turbo_frame_tag "#{dom_id(list)}_cards" do %>
            <% cards.each_with_index do |card, i| %>
                <%= render "kanban7/cards/card", board: board, card: card, prev: position(cards[i-1], i-1), current_user: current_user, board_configs: board_configs  %>
            <% end %>
        <% end %>

        <%= turbo_frame_tag "#{dom_id(list)}-card-footer" do %>
            <% if cards.length > 0 && cards.length >= params[:limit].to_i %>
                <%= turbo_frame_tag "#{dom_id(list)}-load-more-cards", 
                    src: Rails.application.routes.url_helpers.send("#{board_configs.kanban_name}_kanban_load_#{board_configs.card_model_name}s_path", board_configs.board_model_id_symbol => board.id, board_configs.list_model_id_symbol => list.id, offset: cards.size, limit: params[:limit]), 
                    loading: :lazy  do %>
                    <%= render "kanban7/cards/skeleton_load" %>
                <% end %>
            <% end %>
            
            <% if board_configs.can_add_card?(list, current_user) %>
                <%= link_to t('kanban7.action.add_a_card'), Rails.application.routes.url_helpers.send("#{board_configs.kanban_name}_kanban_new_#{board_configs.card_model_name}_path", board_configs.board_model_id_symbol => board.id, board_configs.list_model_id_symbol => list.id), 
                    id: "#{dom_id(list)}-add-card-btn",
                    data: { "turbo-frame": "kanban-modal", "viewtype": "card", "prevpos": position(cards.last), "parentid": list.id, "parentkey": board_configs.card_parent_id_symbol }, 
                    class: "add-card-btn", "draggable": "false", "droppable": "true" %>
            <% end %>
        <% end %>
    </div>
</div>
