<div
    class="card" 
    draggable="true"
    droppable="true" 
    id="<%= dom_id(card) %>"
    data-currpos="<%= position(card) %>" 
    data-prevpos="<%= prev %>"
    data-viewtype="card"
    data-parentid="<%= card.send("#{board_configs.list_model_name}_id") %>"
    data-parenttype="<%= board_configs.list_model_name %>">
  <div class="card-item">
    <%= render partial: board_configs.item_card_partial, locals: { board_configs.card_model_symbol => card } %>
    <%= link_to "Edit", Rails.application.routes.url_helpers.send("#{board_configs.kanban_name}_kanban_edit_#{board_configs.card_model_name}_path", "#{board_configs.card_model_name}_id".to_sym => card.id), 
        data: { "turbo-frame": "kanban-modal" }, 
        class: "card-edit" %>
  </div>
</div>