<% if @card.errors.any? %>
    <%= turbo_stream.replace "kanban-modal" do %>
        <%= render "kanban7/modal" do %>
            <div class="mx-auto w-full">
                    <%= render partial: @board_configs.form_card_partial, 
                        locals: {
                            @board_configs.card_model_symbol => @card,
                            :url => Rails.application.routes.url_helpers.send("#{@board_configs.kanban_name}_kanban_create_#{@board_configs.card_model_name}_path", @board_configs.list_model_id_symbol => @list.id)
                        } 
                    %>
            </div>
        <% end %>
    <% end %>
<% else %>
    <% if @after_card %>
        <%= turbo_stream.after "#{dom_id(@after_card)}" do %>
            <%= render "kanban7/cards/card", card: @card, prev: @after_card.position, board_configs: @board_configs %>
        <% end %>
    <% else %>
        <%= turbo_stream.append "#{dom_id(@list)}_cards" do %>
            <%= render "kanban7/cards/card", card: @card, prev: 0, board_configs: @board_configs %>
        <% end %>
    <% end %>
<% end %>