<% form_id = "list#{@list.id}-form-card" %>
<% if @card.errors.any? %>
    <%= turbo_stream.replace form_id do %>
        <div id="<%= form_id %>" data-kanban-list-target="formCard" draggable="false" droppable="false" class="">
            <%= render partial: @board_configs.form_card_partial, 
                locals: {@board_configs.list_model_symbol => @list, @board_configs.card_model_symbol => @card} %>
        </div>
    <% end %>
<% else %>
    <% if @after_card %>
        <%= turbo_stream.after "#{dom_id(@after_card)}" do %>
            <%= render "kanban7/cards/card", card: @card, prev: @after_card.position, board_configs: @board_configs %>
        <% end %>
    <% else %>
        <%= turbo_stream.append "#{dom_id(@list)}_cards" do %>
            <%= render "kanban7/cards/card", card: @card, prev: 0, board_configs: @board_configs %>
        <% end %>
    <% end %>
<% end %>