<div id=<%= dom_id(list) %> 
    data-controller="kanban-list"
    draggable="true" 
    droppable="true"
    data-viewtype="list"
    data-currpos="<%= position(list) %>"
    data-prevpos="<%= prev %>">

    <div class="bg-slate-200 rounded-t p-3 font-bold" droppable="false">
        <%= render partial: board_configs.header_list_partial, locals: { board_configs.list_model_symbol => list } %>
    </div>

    <%= turbo_frame_tag "#{dom_id(list)}_cards" do %>
        <div class="h-176 w-72 overflow-x-hidden overflow-y-auto relative">
            <% cards = fetch_cards(list, params[:order] || :asc, params[:offset], params[:limit]) %>
            <% cards.each_with_index do |card, i| %>
                <%= render "kanban7/cards/card", card: card, prev: position(cards[i-1], i-1), list_id: list.id, board_configs: board_configs  %>
            <% end %>

            <%= turbo_frame_tag "#{dom_id(list)}_new_card" %>

            <button data-kanban-list-target="addCardBtn" data-action="kanban-list#showCardForm" 
                draggable="false"
                droppable="true" 
                id="card_list<%= list.id %>"
                data-viewtype="card"
                data-currpos="<%= position(cards.last) + 1 %>" 
                data-prevpos="<%= position(cards.last) %>"
                data-parentid="<%= list.id %>"
                data-parenttype="<%= board_configs.list_model_name %>"
                class="w-72 bg-slate-200 hover:border hover:border-slate-300 text-white text-left pl-2 py-4 rounded-b sticky bottom-0 left-0 right-0">
                + Add a card
            </button>
            
            <div data-kanban-list-target="formCard" draggable="false" droppable="false" class="hidden">
                <%= render partial: board_configs.form_card_partial, locals: {board_configs.list_model_symbol => list, board_configs.card_model_symbol => board_configs.card_model.new(board_configs.list_model_symbol => list)} %>
            </div>
        </div>
    <% end %>
</div>
