<div id=<%= dom_id(list) %> 
    data-controller="kanban-list"
    draggable="true" 
    droppable="true"
    data-viewtype="list"
    data-currpos="<%= position(list) %>"
    data-prevpos="<%= prev %>">

    <div class="list-header" droppable="false">
        <%= render partial: board_configs.header_list_partial, locals: { board_configs.list_model_symbol => list } %>
    </div>

    <div class="list">
        <% cards = fetch_cards(list, params[:order] || :asc, params[:offset], params[:limit]) %>
        <%= turbo_frame_tag "#{dom_id(list)}_cards" do %>
            <% cards.each_with_index do |card, i| %>
                <%= render "kanban7/cards/card", card: card, prev: position(cards[i-1], i-1), list_id: list.id, board_configs: board_configs  %>
            <% end %>
        <% end %>

        <%= turbo_frame_tag "#{dom_id(list)}-edit-card" do %>
            <% if cards.length > 0 && cards.length >= params[:limit].to_i %>
                <%= turbo_frame_tag "#{dom_id(list)}-load-more-cards", 
                    src: Rails.application.routes.url_helpers.send("#{board_configs.kanban_name}_kanban_load_#{board_configs.card_model_name}s_path", "#{board_configs.list_model_name}_id".to_sym => list.id, offset: cards.size, limit: params[:limit]), 
                    loading: :lazy  do %>
                    <%= render "kanban7/cards/skeleton_load" %>
                <% end %>
            <% end %>

            <%= link_to "+ Add a card", Rails.application.routes.url_helpers.send("#{board_configs.kanban_name}_kanban_new_#{board_configs.card_model_name}_path", "#{board_configs.list_model_name}_id".to_sym => list.id), 
                data: { "turbo-frame": "kanban-modal", "viewtype": "list", "prevpos": position(cards.last) }, 
                class: "add-card-btn", "draggable": "false", "droppable": true %>
        <% end %>
    </div>
</div>
