<% form_id = "board#{@board.id}-form-list" %>
<% if @list.errors.any? %>
    <%= turbo_stream.replace form_id do %>
        <div id="<%= form_id %>" data-kanban-board-target="formList" draggable="false" droppable="false" class="">
            <%= render partial: @board_configs.form_list_partial,  
                    locals: {@board_configs.board_model_symbol => @board,  @board_configs.list_model_symbol => @list} %>
        </div>
    <% end %>
<% else %>
    <% if @board_configs.live? %>
        <%  Turbo::StreamsChannel.broadcast_replace_later_to(
                @board_configs.kanban_live_frame(@board), 
                target: "#{dom_id(@board)}_edit_list",
                content: render(partial: "kanban7/lists/list", formats: [:html], locals: { board: @board, list: @list, prev: 0, board_configs: @board_configs })
                        .concat(
                            link_to("+ Add another list", Rails.application.routes.url_helpers.send("#{@board_configs.kanban_name}_kanban_new_#{@board_configs.list_model_name}_path", @board_configs.board_model_id_symbol => @board.id), 
                                    data: { "turbo-frame": "kanban-modal", "viewtype": "list", "prevpos": position(@list) }, 
                                    class: "add-list-btn", "draggable": "false", "droppable": true)
                        )
            )
        %>
    <% else %>
        <%= turbo_stream.replace "#{dom_id(@board)}_edit_list" do %>
            <%= render "kanban7/lists/list", board: @board, list: @list, prev: 0, board_configs: @board_configs %>
            <%= link_to "+ Add another list", Rails.application.routes.url_helpers.send("#{@board_configs.kanban_name}_kanban_new_#{@board_configs.list_model_name}_path", @board_configs.board_model_id_symbol => @board.id), 
                data: { "turbo-frame": "kanban-modal", "viewtype": "list", "prevpos": position(@list) }, 
                class: "add-list-btn", "draggable": "false", "droppable": true %>
        <% end %>
    <% end %>
<% end %>