<div 
    data-controller="kanban-board"
    data-kanban-board-name-value="<%= board_configs.kanban_name %>"
    data-action="dragstart->kanban-board#dragStart dragover->kanban-board#dragOver dragleave->kanban-board#dragLeave dragenter->kanban-board#dragEnter drop->kanban-board#drop dragEnd->kanban-board#dragEnd"
    class="h-screen bg-red-50 overflow-x-auto overflow-y-hidden">
  <div class="p-14 mt-16">
    
    <% render partial: board_configs.header_board_partial, locals: {board_configs.board_model_symbol => board} %>

    <div id="lists" class="mt-5 ml-5 grid grid-flow-col auto-cols-max gap-4">
        <% lists.each_with_index do |list, i| %>
            <%= render "kanban7/lists/list", list: list, prev: position(lists[i-1], i-1), board: board, board_configs: board_configs  %>
        <% end %>

        <% unless board_configs.is_fixed_lists? %>
          <%= turbo_frame_tag "new-list" %>

          <button data-kanban-board-target="addListBtn" data-action="kanban-board#showListForm" class="w-72 h-12 bg-slate-300 hover:border-2 hover:border-slate-400 text-white rounded"
              draggable="false"
              droppable="true"
              id="list_board<%= board.id %>"
              data-viewtype="list"
              data-currpos="" 
              data-prevpos="<%= position(lists.last) %>">
            + Add another list
          </button>
          
          <div class="hidden"
              data-kanban-board-target="formList"
              draggable="false"
              droppable="false">
              <%= render partial: board_configs.form_list_partial, 
                  locals: {
                    board_configs.board_model_symbol => board, 
                    board_configs.list_model_symbol => board_configs.list_model.new(board_configs.board_model_symbol => board)
                  } 
              %>
          </div>
        <% end %>
    </div>
  </div>
</div>